.main {
  display: flex;
  width: 90%;
  height: 400px;
  min-width: 460px;
}

#mainDiv{
  margin-top: 10%;
}

.imagePreview{
  max-height: 100px;
  max-width: 100px;
  margin-top: 20px;
}

.styleMain{
  margin: auto;
  padding: 2%;
  flex-direction: column;
}

#margin{
  margin-top: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h4{
  margin-bottom: 50px;
}

li img{
  padding-left: 10px;
}

li{
  display: flex;
}

li img{
  border-left: 5px solid rgb(133, 204, 245);
}

li:hover{
  margin-left: 5px;
  transition-duration: 0.4s;
}

h3{
  margin: 1% auto 10%;
  font-family: 'Bebas Neue';
  font-size: 30px;
}

.imgContent {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  background-color:rgb(133, 204, 245);
  text-align: center;
  margin-top: 0;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

#listImage li{
  width: 80%;
  margin: auto;
}

.attachFileSpan {
  color: #2b6dad;
  cursor: pointer;
  margin: auto;
}

input[type="file"] {
  display: none;
}

.attachFileSpan:hover {
  text-decoration: underline;
}

#buttonSave{
  width: 40%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

#buttonSend {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#divUpload{
  margin-top: 30px;
  width: 50%;
}

#ButtonClassfication{
  width: 90%;
  height: 200px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#ButtonClassfication a{
  margin-top: 10px;
}

.imgResult {
  visibility: hidden;
  flex: 1 1 auto;
  flex-wrap: row;
  width: 25rem;
  height: 10%;
  margin: 10px auto 10px auto;
}

.card-detalhe{
  width: 60%;
}

#divResultModel {
  width: 100%;
}

#mainSection{
  flex: 1 1 auto;
  width: 90%;
  flex-direction: row;
  margin: auto;
}

.imgResultId{
  width: 50%;
}

/* Configurando o botão da msg */

.alert-bootstrap{
  margin: 20px auto 30px;
  width: 400px;
}

#buttonConsult{
  width: 40%;
  margin: auto;
}

@media screen and (min-width: 1024px) {

  .alert-bootstrap{
    width: 500px;
  }

  .styleMain{
    flex-direction: row
  }

  .main{
    flex: 1 1 auto;
    width: 60%;
    height: 400px;
    margin: 2% auto;
  }

  #mainDiv{
    margin-top: 5%;
  }

  #ButtonClassfication{
    margin-top: 100px;
    width: 50%;
    flex-direction: column;
  }

  #buttonSave, #buttonConsult, #buttonSend{
    width: 50%;
    height: 50px;
  }

  .imgResult{
    width: 50rem;
  }

  .receive-image{
    margin-top: 50px;
  }

  #divUpload{
    width: 100%;
  }

  .imgContent{
    flex-direction: row;
  }

  #receive-image{
    flex-direction: column;
    width: 60%;
  }

  #margin{
    margin: auto;
    display: flex;
    width: 100px;
  }

  #listImage{
    margin: auto;
  }

  #listImage li img{
    padding: 10px;
  }
}

@media (max-width: 475px){
  #buttonSend, #buttonSave, #buttonConsult {
    font-size: 10px;
  }
}
